.image-top
  = image_tag @list.image_top, height: '150px', width: '220px', class: 'image1'
.image-box
  = image_tag @list.image_top, height: '150px', width: '220px', class: 'image2'
  = image_tag @image[0].image_sub, height: '150px', width: '220px', class: 'image2'
  = image_tag @image[1].image_sub, height: '150px', width: '220px', class: 'image2'